---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Marius Ardelean" description="About Marius Ardelean">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/marius.jpg"
					class="border border-gray-700"
					
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a statistician with a deep-seated passion for mathematics, biostatistics, data visualization, and everything machine learning. My professional path has been diverse and enriching, culminating in a significant managerial 
						experience at multinational corporations like IBM, where I successfully led teams exceeding 200 individuals. After many years in management,
						 I've circled back to my true calling—statistics—embracing the role of a freelance statistician.
					</p>
					<p>
						In my recent engagements, I've collaborated with Contract Research Organizations, applying my extensive knowledge of R and Python to deliver comprehensive data statistics
						I've cultivated a fulfilling career that intertwines the precision of statistics with the art of management. At the core, I'm an avid mathematician, with a penchant for biostatistics, clinical studies, and a zeal for data visualization and machine learning. 
						My professional journey has seen me at the helm of multinational giants like IBM, where leading over 200 subordinates was both a challenge and a privilege. Despite my success in management, my heart always beats for the thrill of data analysis, leading me to return to my roots as a freelance statistician.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>My academic background is as diverse as it is profound. I earned my Doctor of Philosophy in Statistics in Medicine from Victor Babeş University of Medicine and Pharmacy of Timişoara, where I delved into the complexities of biostatistics. 
						My education was further enriched with a Master's degree in Statistics from Politehnica University Timisoara, which honed my analytical skills and statistical acumen. My business acuity stems from a Bachelor's degree in Business Administration and Management from Universitatea de Vest din Timișoara, providing me with a robust grounding in economic principles and strategic management. 
						My foray into the technical world began with a Bachelor's degree in Electronics and Telecommunications from Politehnica University Timisoara, which was my gateway to the realm of data and systematic analysis. Each stage of my educational journey has been a building block in my expertise in Biostatistics, R Programming, and the pursuit of rigorous, data-driven research.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>My skill set is a tapestry woven from various threads of expertise. I am adept in Protocol Development, crafting frameworks that underpin comprehensive data analysis. My ability to distill complex statistical data into understandable narratives has been honed through years of practice, making me an effective communicator. 
						My proficiency extends to Statistical Analysis, Randomization, Project Leadership, and Biostatistics. Fluent in English and conversant with the nuances of Statistical Analysis Plans, I command a deep understanding of R programming, which complements my skills in Software Project Management, 
						SAS Programming, and Database Design. I take pride in my ability to wrangle data into submission, revealing the stories hidden within numbers.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
