---
interface Props {
	href: string;
}

const { href } = Astro.props;
---
<!-- Initial TailwindCSS conversion -->
<a href={href} class="relative flex justify-center items-center text-center no-underline align-middle px-[14px] md:px-[20px] py-[9px] md:py-[18px] gap-[8px] text-[var(--text)] bg-white/80 dark:bg-gray-900/10 border border-gray-700 rounded-full overflow-hidden shadow-[var(--shadow-md)] whitespace-nowrap hover:bg-[hsla(var(--gray-999-basis),0.3)] dark:hover:bg-[hsla(var(--gray-999-basis),0.3)] focus:bg-[hsla(var(--gray-999-basis),0.3)]">
  <slot />
</a>

