---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<aside class="flex flex-col items-center gap-12 border-t border-b border-[#e3e6ee] dark:border-[#283044] p-20 pt-12 pb-12 bg-[#FFFFFF66] dark:bg-[#090B1166] shadow-sm lg:py-28 lg:px-28 lg:flex lg:flex-row lg:flex-wrap lg:justify-between">
	<h2 class="text-center text-4xl max-w-[15ch] lg:text-left lg:text-3xl">Interested in working together?</h2>
	<CallToAction href="mailto:recruiter@example.com" >
	  Send Me a Message
	  <Icon icon="paper-plane-tilt" size="1.2em" />
	</CallToAction>
  </aside>
  
