
<div class="flex py-2 px-4 gap-2 text-black dark:text-white dark:bg-gray-900/20 border border-gray-700 bg-[#F0F2F6] rounded-full text-lg shadow-slate-100 leading-snug whitespace-nowrap"><slot /></div>
