---
import Icon from './Icon.astro';
---
<section class="rounded-3xl text-black dark:text-white p-6 bg-white/80 dark:bg-gray-900/20 gap-12 border border-gray-700 shadow-sm space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:p-10 lg:gap-20">

	<div class="space-y-2 lg:space-y-4">
		<div class="flex items-center space-x-2">
			<Icon icon="chart" size="2.5rem" gradient />
			<h2 class="text-lg lg:text-2xl">Statistician</h2>
		</div>
		<p>I use R and Python to translate data into corporate growth stories, blending analysis with leadership experience.</p>
	</div>

	<div class="space-y-2 lg:space-y-4">
		<div class="flex items-center space-x-2">
			<Icon icon="terminal-window" size="2.5rem" gradient />
			<h2 class="text-lg lg:text-2xl">Code Craftsman</h2>
		</div>
		<p>I focus on creating tools that turn complex data into decisive insights, from code to final graph.</p>
	</div>

	<div class="space-y-2 lg:space-y-4">
		<div class="flex items-center space-x-2">
			<Icon icon="trophy" size="2.5rem" gradient />
			<h2 class="text-lg lg:text-2xl">Analytics Advisor</h2>
		</div>
		<p>After leading 200+ at IBM, I now merge leadership skills and statistical expertise to guide teams on their path.</p>
	</div>

</section>
